<%= content_for(:title, "Leave Comment") %>
<div class="row">
	<div class="form-group col-md-6 col-md-offset-1 side-bar-right">
		<%= render :partial =>"posts/post", locals: {post: @post} %>
		<%= render @comments %>
	</div>

	<div class="form-group col-md-3 col-md-offset-1">
		<h3>Leave a comment...</h3>
	</div>
</div>
