<h1>Mike Kucharski</h1>

<h3>Your recent posts</h3>
<div class="post_container">

	<div class="post">
		<div class="top cat-running">
			<span class="title">Looking for a running partner</span><br>
			<span>Category: <span class="category">Running</span></span>
			<div class="row">
				<div class="col-md-4">
					<span>Location: <span class="location">Beatty Gym</span></span>
				</div>
				<div class="col-md-4">
					<span>Date: <span class="date">2-12-15</span></span>
				</div>
				<div class="col-md-4">
					<span>Time: <span class="time">10:30 am</span></span>
				</div>
			</div>
			
		</div>

		<div class="bottom">
		 	<p class="description">Need a running buddy! Let's go to the fens!</p>

		 	<div class="row">
				<div class="col-md-10 left-col">
					<span>Posted on: <span class="postDate">January 1, 2015 at 1:34 pm</span></span>
				</div>
				<div class="col-md-2">
					<button class="btn btn-primary">Comment</button>
				</div>
			</div>
		 	
		 
		</div>
	</div>

</div>

<h3>Posts that interest you</h3>
<div class="post_container">

	<div class="post">
		<div class="top cat-pool">
			<span class="title">Pool partner wanted</span><br>
			<span>Category: <span class="category">Pool</span></span>
			<div class="row">
				<div class="col-md-4">
					<span>Location: <span class="location">Beatty Gameroom</span></span>
				</div>
				<div class="col-md-4">
					<span>Date: <span class="date">9-12-15</span></span>
				</div>
				<div class="col-md-4">
					<span>Time: <span class="time">12:15 pm</span></span>
				</div>
			</div>
			
		</div>

		<div class="bottom">
		 	<p class="description">I am looking to play pool with two other people. I am pretty decent (only get the 8 ball in on half of my breaks)</p>

		 	<div class="row">
				<div class="col-md-10 left-col">
					<span>Posted on: <span class="postDate">September 23, 3005 at 1:34 pm</span></span>
				</div>
				<div class="col-md-2">
					<button class="btn btn-primary">Comment</button>
				</div>
			</div>
		 	
		 
		</div>
	</div>

</div>