<%= content_for(:title, "File Not Found") %>
<div class="row">
	<div class="col-md-4 left-fire">
    <%= image_tag "fire-red-and-orange.svg", class: "fireImage" %>
  </div>
  <div class="col-md-4">
		<p id="title404">404</p>
  </div>
  <div class="col-md-4">
		<%= image_tag "fire-red-and-orange.svg", class: "fireImage" %>
  </div>
  <div class="col-md-12 bottom-para">
		<p id="pageNotFound">This page has sunk</p>
	</div>

  <div class="col-md-4 col-md-offset-2 bottom-para">
    <%= image_tag "titanic.gif", class: "sinkingShip" %>
  </div>
  <div class="col-md-4 bottom-para">
     <p class="description404">It seems you've tried to navigate to a non-existent page. Are you sure this is where you wanted to end up? Try going back the way you came or trying a different url. Otherwise you'll end up like this ship. Sunk.</p>
	</div>
</div>