<%= content_for(:title, "About") %>
<h1>About LeapUp</h1>

<div class="row">
	<div class="col-md-4 leopard_pic">
		<%= image_tag "oncampusevents.png" %>
	</div>

	<div class="col-md-4 text-div">
		<p>LeapUp is a user driven activity board designed to connect users based on their activity interests for the students at Wentworth! Eventually we'll reach all of the Colleges of the Fenway.</p>
		
		<p>We chose the name LeapUp because Wentworth's mascot is the leopard and a group of leopards is a leap. Since this is a website for our group of leopards it only made sense to use leap in our name!</p>
	</div>

	<div class="col-md-4 leopard_pic">
		<%= image_tag "wentworth.png" %>
	</div>
</div>