<%= content_for(:title, "View All Posts") %>
<h1>View Posts Feed</h1>
<div class="row">
	<div class="form-group col-md-3 col-md-offset-1" id="search_bar">
		<h3>Search Posts</h3>

		<div id="search_box">
			<p>The search box will go here...</p>
		</div>
	</div>

	<div class="form-group col-md-6 col-md-offset-1">
		<%= render @posts %>
		<%= will_paginate @posts %>
	</div>
</div>
