<h1>About LeapUp!</h1>

<div class="row">
	<div class="col-md-6">
		<p>LeapUp is a user driven activity board website designed to connect users based on their activity interests. The goal of the site is to allow users to meet up with new people for activities. Users can make posts that each have a specific activity category, date, and time. Other users will be able view these posts and make comments in order to connect with users who share the same interests.</p>
	</div>
	<div class="col-md-6">
		<%= image_tag "cute_leopard.png",:size => "125x125" %>
	</div>
</div>