<h1>Contacting the Team</h1>

<div class="row">
	<div class="col-md-6">
		<p>Feel free to contact the team if you are having issues or have questions or concerns.  Even if you wish to thank us for developing such an amazing tool for WIT students, shoot us an email.</p>
		<br>
		<b>Ashley P.
		<a href="mailto:EMAIL@WIT.EDU&subject=Contacting%20LeapUp%20Developers">Email Ashley</a>
		</b>
		<br><br>
		<b>Mike K.
		<a href="mailto:EMAIL@WIT.EDU&subject=Contacting%20LeapUp%20Developers">Email Mike</a>
		</b>
		<br><br>
		<b>Brian C.
		<a href="mailto:EMAIL@WIT.EDU&subject=Contacting%20LeapUp%20Developers">Email Brian</a>
		</b>
		<br><br>
		<b>Tom L.
		<a href="mailto:EMAIL@WIT.EDU&subject=Contacting%20LeapUp%20Developers">Email Tom</a>
		</b>
		<br><br>
		<b>Artem V.
		<a href="mailto:EMAIL@WIT.EDU&subject=Contacting%20LeapUp%20Developers">Email Artem</a>
		</b>
		<br><br>
		<b>Danny N.
		<a href="mailto:EMAIL@WIT.EDU&subject=Contacting%20LeapUp%20Developers">Email Danny</a>
		</b>
		<br>
	</div>
	
	<div class="col-md-6">
		<%= image_tag "cute_leopard.png",:size => "125x125" %>
	</div>
</div>