<div>
	
	<div id="login_form_holder">
		
		<span class="form_header">Sign Up</span>

		<form id="sign_up_form">

		<table id="sign_up_table">
			<tr>
				<td class="labels">
					<label for="first_name">First Name: </label>
				</td>
				<td>
					<input required id="first_name" name="first_name" type="text" placeholder="First Name"/>
				</td>
			</tr>
		
			<tr>
				<td class="labels">
					<label for="last_name">Last Name: </label>
				</td>
				<td>
					<input required id="last_name" name="last_name" type="text" placeholder="Last Name"/>
				</td>
			</tr>

			<tr>
				<td class="labels">
					<label for="email">Email: </label>
				</td>
				<td>
					<input required id="email" name="email" type="text" placeholder="xxxxx@wit.edu"/>
				</td>
			</tr>

			<tr>
				<td class="labels">
					<label for="pass-signup">Password: </label>
				</td>
				<td>
					<input required name="pass-signup" type="password" placeholder="Password"/>
				</td>
			</tr>

			<tr>
				<td class="labels">
					<label for="pass-signup-repeat">Retype Password: </label>
				</td>
				<td>
					<input required name="pass-signup-repeat" type="password" placeholder="Password"/>
				</td>
			</tr>

			<tr>
				<td colspan="2" id="submit_btn">
					<%= link_to users_home_path, class: "btn btn-default", id: "sign_up_btn" do %>
						<span>Create Account</span>
					<% end %>
				</td>
			</tr>
		</table>
			
		</form>
	</div>
</div>